<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962970185275-s8fkcpd12rgiv0mvk1d97ugo33ni46hr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962970185275-s8fkcpd12rgiv0mvk1d97ugo33ni46hr</string>
	<key>API_KEY</key>
	<string>AIzaSyAfcNtpxoPVLqsThJxJKn-yuedBZLAuBMs</string>
	<key>GCM_SENDER_ID</key>
	<string>962970185275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justinviasus.TwitterTutorial</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-57491</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-57491.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962970185275:ios:bd4fc4f2cca76621a2f61e</string>
</dict>
</plist>